/* Global Styles */

:root {
  /* Set your variables here */
  --font-one: 'Lato', sans-serif;
  --font-two: 'Gill Sans', sans-serif;
  --blue-color: #4369b2;
  --blue-color-light: #5787e3;
  --blue-color-medium: #3d60a4;
  --blue-color-dark: #35548b;
  --p-size: 1.8rem;
  --h1-size: 2.5rem;
  --h2-size: 2rem;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  /* outline: 1px solid red !important; */
}

body {
  background-color: var(--blue-color);
  color: #fff;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

h1 { font-size: var(--h1-size); }

h2 { font-size: var(--h2-size); }

p { font-size: var(--p-size); }

a {
  text-decoration: none;
  font-size: var(--p-size);
}

li { list-style: none; }

h1,
h2 {
  font-family: var(--font-two);
}

a,
p {
  font-family: var(--font-one);
}

h1.title {
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  opacity: 0.95;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: inherit;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  opacity: 0.95;
}

p.continents__detail {
  font-family: var(--font-two);
  text-align: right;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  opacity: 0.95;
}
